* {
	margin: 0px;
}

body {
	background: white url('../img/snow.png');
}

#container {
	width: 600px;
	margin: auto;
	margin-top: 25px;
}

pre {
	
	border: 1px solid #ccc;
}

h1, h2, h3 {
	font-family: Georgia;
	margin-bottom: 15px;
	font-weight: 500;
}

h2 {
	font-size: 25px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}

h3 {
	font-size: 20px;
	margin-top: 20px;
	line-height: 30px;
}

p {
	font-family: arial, sans;
	font-size: 14px;
	line-height: 21px;
}

.snippet {
	border-radius: 3px;
	background: #eee;
	padding: 3px;
	margin: 15px 0px 15px 0px;
}

.snippet header {
	background: #fafafa;
	background: -moz-linear-gradient(top,  #fafafa 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
	background: linear-gradient(top,  #fafafa 0%,#eaeaea 100%);

	font-family: helvetica, arial, sans;
	color: #555555;
	font-size: 12px;

	height: 35px; line-height: 35px;
	padding: 0px 10px 0px 10px;
	border: 1px solid #ccc;
	border-bottom: 0px;

	display: none;
}